html {}

body {
    margin: 0;
    margin-left:5%;
    margin-right:5%;
}

div {
    font-size: 1rem;
}

* {
    box-sizing: border-box;
}

.header {
    overflow: hidden;
    background-color:#fff;
    border-bottom: 1px solid grey;    
}

.header a {
    float: left;
    color: black;
    text-align: center;    
    text-decoration: none;
    font-size: 18px;     
    border-radius: 4px;
}

.header a.logo {
    font-weight: bold;
}

img.logo {
    max-width:250px;
    padding-top: 4px;
    margin-left: 4px;
}

.header-right {
    float: right;
}
  
@media screen and (max-width: 600px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }

    body{
        max-width: 100%;
    }
}

.header-right input[type=text] {
    font-size: 22px;
    border: none;
    border-left: 1px solid gray;
    float: left;
    width: 80%;
    background:white;
    height: 50px;
    line-height: 50px;
    text-indent:10px;    
}
  
.header-right button {
    float: left;
    width: 20%;    
    background: white;
    color: black;
    font-size: 25px;
    border: none;    
    cursor: pointer;
    height: 50px;
}
  
.header-right button:hover {
    background: #0b7dda;
}
  
  

.topnav {
    background-color: #7baac2;
    overflow: hidden;
}

.topnav a {
    float: left;
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1rem;
}

.topnav a:hover {
    background-color: #9db6c5;
    color: black;
}

.active {
    background-color: #2e6b80; 
    color: black !important;   
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
}

.hero {
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    position: relative;
}

.hero::before {
    background-image: url(../media/owasp_cover_photo_1920.png);
    background-size: cover;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    opacity: 0.8;
}

    
    
@media (min-width: 720px) {
    .hero::before {
    background-image: url(../media/owasp_cover_photo_640.png);
    }
}
    
@media (min-width: 980px) {
    .hero::before {
    background-image: url(../media/owasp_cover_photo_800.png);
    }
}
    
@media (min-width: 1240px) {
    .hero::before {
    background-image: url(../media/owasp_cover_photo_1080.png);
    }
}
   
@media (min-width: 1500px) {
    .hero::before {
    background-image: url(../media/owasp_cover_photo_1280.png);
    }
}
    
@media (min-width: 1760px) {
    .hero::before {
    background-image: url(../media/owasp_cover_photo_1600.png);
    }
}

.flex-center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
}

.hero-message {
        color: #fff;
        text-shadow: #343a40 2px 2px;
        min-width: 100%;
        min-height: 12em;
        position: relative;
}

.hero-message::before {
    content: "";
    display: block;
    position: absolute;
    margin-left: 0;
    min-width: 100%;
    min-height: 12em;
    z-index: -1;
    opacity: 0.8;
    background-color: #343a40;
}

.hero-title,
.hero-sub-title {
    width: 100%;
    display: block;
    text-align: center;
}

.hero-title {
    margin: 3% 0;
}